# 忽略 Python 產生的檔案
__pycache__/
*.pyc
*.pyo
*.pyd

# 忽略 VS Code 設定
.vscode/

# 忽略 Python 虛擬環境
venv/
.env

# Playwright Cookies (存取 LeetCode 登入狀態)
cookies.json

# 忽略 leetcode_submissions 產生的檔案 （報表）
leetcode_submissions*
